[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	ignore = dirty
